EXPO_PUBLIC_APP_SYNC_ENDPOINT=https://example.appsync-api.us-east-1.amazonaws.com/graphql
EXPO_PUBLIC_APP_SYNC_REGION=us-east-1
EXPO_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_PLACEHOLDER
EXPO_PUBLIC_COGNITO_CLIENT_ID=PLACEHOLDER
